<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div id="header">
            <p id="mainPageLink" th:utext="'Local attractions in '+ ${dest.name} + ', ' + ${dest.country} "></p>
        </div>

        <div class="links">
            <a href="/admin/home">Admin menu</a>
            <a th:href="'/admin/dest/'+${dest.id}">Back to dest</a>
            <a id="addNewAttractionLink">New attraction</a>
        </div>
        <form class="addAttr" th:action="@{/admin/dest/__${dest.id}__/addattr}" th:object="${attraction}" th:method="post" id="addAttrForm">
            <label for="name" id="nameLabel">Name: </label>
            <input type="text" name="name" id="name" th:field="*{name}" />
            <label for="descr">Description: </label>
            <input type="text" name="name" id="descr" th:field="*{description}" />
            <label for="address">Address: </label>
            <input type="text" name="name" id="address" th:field="*{address}" />
            <label for="price">Price: </label>
            <input type="number" name="price" id="price" th:field="*{price}" />
            <!--<label for="location">Map location: </label>
        <input type="text" name="location" id="location" th:field="*{location}"/>-->
            <label for="url">Online tickets url: </label>
            <input type="text" name="url" id="url" th:field="*{url}" />
            <label for="photo">Photo url: </label>
            <input type="text" name="photo" id="photo" th:field="*{photoUrl}" />
            <button type="submit" id="addEventButton">Add</button>
        </form>
        <tbody>
            <div class="attractions">
                <tr th:each="attr: ${attractions}">
                    <div class="attraction">
                        <p th:utext="'<span class=\'destTitles\'>Name:</span> ' + ${attr.name}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Description:</span> ' + ${attr.description}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Address:</span> ' + ${attr.address}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Price:</span> ' + ${attr.price}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Online tickets: </span><a href=\''+${attr.url}+'\'>Go to shop</a>'"></p>
                        <p th:utext="'<span class=\'destTitles\'>Photo url: </span><a href=\''+${attr.photoUrl}+'\'>Go to photo</a>'"></p>
                    </div>
                </tr>
            </div>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $("#addNewAttractionLink").on('click', function() {
            $("#addNewAttractionLink").toggleClass('clicked');
            $(".addAttr").toggleClass('showed');
        })

    </script>
</body>

</html>
