<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div id="header">
            <p id="mainPageLink">All destinations</p>
        </div>

        <div class="links">
            <a href="/admin/home">Admin menu</a>
            <a id="addNewDestLink">Add new dest</a>
        </div>
        <form class="addDest" th:action="@{/admin/dest/add}" th:object="${destination}" th:method="post" id="addEventForm">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" th:field="*{name}" />
            <label for="countryname">Country: </label>
            <input type="text" name="name" id="countryname" th:field="*{country}" />
            <button type="submit" id="addEventButton">Add</button>
        </form>
        <tbody>
            <div class="dests">
                <tr th:each="dest: ${destinations}">
                    <div class="dest">
                        <p th:utext="'<span class=\'destTitles\'>Name:</span> ' + ${dest.name}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Country:</span> ' + ${dest.country}"></p>
                        <a th:href="'/admin/dest/'+${dest.getId()}">More</a>
                    </div>
                </tr>
            </div>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $("#addNewDestLink").on('click', function() {
            $("#addNewDestLink").toggleClass('clicked');
            $(".addDest").toggleClass('showed');
        })

    </script>
</body>

</html>
