<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
</head>

<body>

    <div class="container">

        <div id="header">
            <p id="mainPageLink">All hotels</p>
        </div>

        <div class="links">
            <a href="/admin/home">Admin menu</a>
            <a id="addNewHotelLink">Add new hotel</a>
        </div>
        <form class="addHotel" th:action="@{/admin/hotels/add}" th:object="${hotel}" th:method="post" id="addHotelForm">
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" th:field="*{name}" class="form-control"/>

            <label for="stars">Stars: </label>
            <input type="number" name="stars" id="stars" th:field="*{stars}" class="form-control"/>

            <label for="email">Email: </label>
            <input type="text" name="email" id="email" th:field="*{email}" class="form-control"/>

            <label for="phone">Phone number: </label>
            <input type="text" name="phone" id="phone" th:field="*{phoneNumbrer}" class="form-control"/>

            <label for="web">Web-site: </label>
            <input type="text" name="web" id="web" th:field="*{web}" class="form-control"/>

            <label for="destination">Destination: </label>
            <select id="destination" class="selectpicker" name="destination" th:field="*{destination}" data-live-search="true">
                <option value=""></option>
                <option th:each="dest : ${destinations}"
                        th:value="${dest.id}"
                        th:utext="${dest.name + ', ' + dest.country}">
                </option>
            </select>

            <label for="address">Address: </label>
            <input type="text" name="address" id="address" th:field="*{address}" class="form-control"/>

            <label for="breakfastTime_from">Meal service info:</label>
            <input type="text" id="breakfastTime_from" name="breakfastTime_from" required th:field="*{mealServiceInfo}" class="form-control"/>

            <button type="submit" id="addEventButton">Add</button>
        </form>
        <tbody>
            <div class="hotels">
                <tr th:each="hotel: ${hotels}">
                    <div class="hotel">
                        <p th:utext="'<span class=\'hotelTitles\'>Name:</span> ' + ${hotel.name}"></p>
                        <p th:utext="'<span class=\'hotelTitles\'>Stars:</span> ' + ${hotel.stars}"></p>
                        <p th:utext="'<span class=\'hotelTitles\'>Destination:</span> ' + ${hotel.destination.country} + ' ' + ${hotel.destination.name} "></p>
                        <p th:utext="'<span class=\'hotelTitles\'>Address:</span> ' + ${hotel.address}"></p>
                        <a th:href="'/admin/hotels/'+${hotel.id}">More</a>
                    </div>
                </tr>
            </div>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $("#addNewHotelLink").on('click', function() {
            $("#addNewHotelLink").toggleClass('clicked');
            $(".addHotel").toggleClass('showed');
        })

    </script>
</body>

</html>
