<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
</head>

<body>

    <div class="container">

        <div id="header">
            <p id="mainPageLink" href="#">All tours</p>
        </div>

        <div class="links">
            <a href="/admin/home">Admin menu</a>
            <a id="addNewTourLink">Add new tour</a>
        </div>

        <form class="addTour" th:action="@{/admin/tours/add}" th:object="${tour}" th:method="post" id="addTourForm">

            <label for="description">Description: </label>
            <input type="text" name="name" id="description" th:field="*{title}" required />

            <label for="hotel">Hotel: </label>
            <select id="hotel" class="selectpicker" name="hotel" th:field="*{hotel}" data-live-search="true">
                <option value=""></option>
                <option th:each="hotel : ${hotels}"
                        th:value="${hotel.id}"
                        th:utext="${hotel.name + ', ' + hotel.destination.name}">
                </option>
            </select>
            <label for="delegate">Delegate's username: </label>
            <input type="text" name="name" id="delegate" th:field="*{delegate}" required />

            <label for="dateTimeFrom">Date from: </label>
            <input type="date" name="dateTimeFrom" id="dateTimeFrom" th:field="*{start}" required />

            <label for="dateTimeTill">Date till: </label>
            <input type="date" name="dateTimeTill" id="dateTimeTill" th:field="*{end}" required />

            <label for="btinfo">Back transfer info: </label>
            <input type="text" name="name" id="btinfo" th:field="*{backTransferInfo}" required />

            <button type="submit" id="addEventButton">Add</button>
        </form>
        <tbody>
            <div class="tours">
                <tr th:each="tour: ${tours}">
                    <div class="tour">
                        <p id="tourDescr" th:text="${tour.title}"></p>
                        <p th:utext="'<span class=\'tourTitles\'>Destination:</span> ' + ${tour.hotel.destination.name} + ' ' + ${tour.hotel.destination.country} "></p>
                        <p th:utext="'<span class=\'tourTitles\'>Hotel:</span> ' +${tour.hotel.name}"></p>
                        <p th:utext="'<span class=\'tourTitles\'>Date and time from:</span><span class=\'tourDateFromAdm\'>'+${tour.getStart()}+'</span>'"></p>
                        <p th:utext="'<span class=\'tourTitles\'>Date and time till:</span><span class=\'tourDateTillAdm\'>'+${tour.getEnd()}+'</span>' "></p>
                        <a th:href="'/admin/tours/'+${tour.id}">More</a>
                    </div>
                </tr>
            </div>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $("#addNewTourLink").on('click', function() {
            $("#addNewTourLink").toggleClass('clicked');
            $(".addTour").toggleClass('showed');
        });

        var tours = $('.tour');
        tours.each(function() {
            var dateFrom = getDate($(this).find(".tourDateFromAdm").text());
            var dateTill = getDate($(this).find(".tourDateTillAdm").text());
            var dateToday = getTodayDate();
            if (firstGreaterSecond(dateToday, dateFrom) && firstGreaterSecond(dateTill, dateToday)) {
                $(this).css('border', '3px solid green');
                $(".tours").prepend($(this));
            } else if (firstGreaterSecond(dateToday, dateTill)) {
                $(this).css('border', '3px solid indianred');
                $(".tours").append($(this));
            }
        });

        function getDate(stringDate) {
            var date = new Date(stringDate);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var dt = date.getDate();
            if (dt < 10) {
                dt = '0' + dt;
            }
            if (month < 10) {
                month = '0' + month;
            }
            return dt + '/' + month + '/' + year;
        }

        function getTodayDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

        function firstGreaterSecond(date1, date2) {
            var d1 = date1.split("/");
            var d2 = date2.split("/");
            var first = new Date(d1[2], parseInt(d1[1]) - 1, d1[0]); // -1 because months are from 0 to 11
            var second = new Date(d2[2], parseInt(d2[1]) - 1, d2[0]);
            return first >= second;
        }
    </script>

</body>

</html>
