<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <tbody>
            <tr>
                <div id="header">
                    <p id="mainPageLink" th:text="'Destination #' + ${dest.id}"></p>
                </div>

                <div class="links">
                    <a href="/admin/home">Admin menu</a>
                    <a href="/admin/tours">Destinations</a>
                </div>
                <div class="destOne">
                    <p th:utext="'<span class=\'destTitles\'>Name:</span> ' + ${dest.name}"></p>
                    <p th:utext="'<span class=\'destTitles\'>Country:</span> ' + ${dest.country}"></p>
                </div>

                <div class="links bottom">
                    <a th:href="'/admin/dest/'+${dest.id}+'/hotels'">Hotels</a>
                    <a th:href="'/admin/dest/'+${dest.id}+'/allattr'">Attractions</a>
                </div>
            </tr>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->

</body>

</html>
