<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <tbody>
            <tr>
                <div id="header">
                    <p id="mainPageLink" href="#" th:text="'Hotel #' + ${hotel.getId()}"></p>
                </div>

                <div class="links">
                    <a href="/admin/home">Admin menu</a>
                    <a href="/admin/tours">All hotels</a>
                </div>
                <div class="hotelOne">
                    <p class="hotelOneName" th:text="${hotel.name}"></p>
                    <p th:utext="'<span class=\'tourTitles\'>Destination:</span> <a href=\'/admin/dest/'+${hotel.destination.id}+'\'>'+${hotel.destination.name} + ' ' + ${hotel.destination.country} +'</a>'"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Stars:</span> ' + ${hotel.stars}"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Address:</span> ' + ${hotel.address}"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Web:</span> <a href=\'//'+${hotel.web}+'\'>Hotel website</a>'"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Email:</span> ' + ${hotel.email}"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Phone number:</span> ' + ${hotel.phoneNumber}"></p>
                    <p th:utext="'<span class=\'hotelTitles\'>Meal service info:</span> ' + ${hotel.mealServiceInfo}"></p>
                </div>

                <div class="links bottom">
                    <a href="#">Tours</a>
                    <a href="#">Events</a>
                </div>
            </tr>
        </tbody>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->

</body>

</html>
