<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">

        <div id="header">
            <a id="mainPageLink" href="/admin/home">Admin menu</a>
        </div>
        <div class="linksMain">
            <a href="/admin/tours">Tours</a>
            <a href="/admin/dest">Destinations</a>
            <a href="/admin/hotels">Hotels</a>
            <a href="/admin/users">Users</a>
            <a style="border-color: red; color: red;" href="/logout">Log out</a>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
</body>

</html>
