<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <tr>
            <div id="header">
                <p id="mainPageLink" th:text="'Tour #' + ${tour.id}"></p>
            </div>

            <div class="links">
                <a href="/admin/home">Admin menu</a>
                <a href="/admin/tours">All tours</a>
            </div>
            <div class="tourOne">
                <p class="tourOneDescr" th:text="${tour.title}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Destination:</span> <a href=\'/dest/'+${tour.hotel.destination.id}+'\'>'+${tour.hotel.destination.name} + ' ' + ${tour.hotel.destination.country} +'</a>'"></p>
                <p th:utext="'<span class=\'tourTitles\'>Hotel:</span> <a href=\'/hotel/'+${tour.hotel.id}+'\'>' +${tour.hotel.name}+'</a>'"></p>
                <p th:utext="'<span class=\'tourTitles\'>Date from:</span> ' +${tour.getStart()}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Date to:</span> ' +${tour.getEnd()}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Back transfer:</span> '+${tour.backTransferInfo}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Delegate:</span> '+${tour.delegate.username}"></p>
            </div>

            <div class="links bottom">
                <a id="touristsByTourLink">Tourists</a>
                <a th:href="'/admin/tours/'+ ${tour.id}+'/excursions'">Excursions</a>
            </div>
        </tr>

        <div id="touristsByTourDiv">
            <table id="touristsByTourTable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tourist : *{tourists}">
                        <td th:utext="'<a href=\'/admin/users/'+${tourist.id}+'\'>'+${tourist.username}+'</a>'"></td>
                        <td th:text="${tourist.fullName}"></td>
                        <td th:text="${tourist.email}"></td>
                    </tr>
                </tbody>
            </table>

            <form class="addTourist" th:action="@{/admin/tours/__${tour.id}__/tourists}" th:method="post">
                <label for="username">Name: </label>
                <input type="text" name="username" id="username" />
                <button type="submit" id="addEventButton">Add</button>
            </form>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script>
        $("#touristsByTourLink").on('click', function() {
            $("#touristsByTourLink").toggleClass('clicked');
            $("#touristsByTourDiv").toggleClass('showed');
        });
        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has("tourists")) {
            $("#touristsByTourLink").click();
            setTimeout(500);
            $('html, body').animate({
                scrollTop: $("#touristsByTourDiv").offset().top
            }, 700);
        }

    </script>
</body>

</html>
