<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/admin/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <tr>
            <div id="header">
                <p id="mainPageLink" th:text="'User #' + ${user.getId()}"></p>
            </div>

            <div class="links">
                <a href="/admin/home">Admin menu</a>
                <a href="/admin/users">Back</a>
            </div>
            <div class="tourOne">
                <p class="tourOneDescr" th:text="${user.getFullName()}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Username: </span>'+${user.getUsername()}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Email: </span>'+${user.getEmail()}"></p>
                <p th:utext="'<span class=\'tourTitles\'>Phone: </span>'+${user.getPhoneNumber()}"></p>
            </div>

            <table id="toursByTouristsTable">
                <thead>
                    <tr>
                        <th>Tours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tour : *{user.getTours()}">
                        <td th:utext="'<a href=\'/admin/tours/'+${tour.getId()}+'\'>'+${tour.getDescription()}+'<p> '+${tour.getDateFrom()+'-'+tour.getDateTo()}+'</p></a>'"></td>
                    </tr>
                </tbody>
            </table>

            <div class="links bottom">
                <a th:href="'/admin/hotels/'+ ${user.id}+'/tourists'">Tourists</a>
                <a th:href="'/admin/tours/'+ ${user.id}+'/excursions'">Excursions</a>
            </div>
        </tr>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->

</body>

</html>
