<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>TripGuide</title>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/tourist/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css' rel='stylesheet' />
</head>

<body>
    <div class="container">
        <div class="headerTourist">
            <p id="touristUsername"  th:text="${tourist.username}"></p>
            <a style="color: indianred;" href="/logout">Log out</a>
        </div>
        <div class="topBottoms">
            <button class="enscr" id="showMyCalendar" style="background: lightgray">My calendar</button>
            <button class="enscr" id="showMyTours">My tours</button>
        </div>
        <div id="calendar"></div>
        <div id="myTours">
            <tbody>
                <button id="showOldTours">My past tours</button>
                <div class="tours">
                    <tr th:each="tour: ${tours}">
                        <div class="tour">
                            <p id="tourDescr" th:text="${tour.title}"></p>
                            <p th:utext="'<span class=\'tourTitles\'>Destination:</span> ' + ${tour.hotel.destination.name} + ' ' + ${tour.hotel.destination.country} "></p>
                            <p th:utext="'<span class=\'tourTitles\'>Hotel:</span> ' +${tour.hotel.name}"></p>
                            <p th:utext="'<span class=\'tourTitles\'>Date and time from:</span> <span class=\'tourDateFromDel\'>'+${tour.getStart()} +'</span>'"></p>
                            <p th:utext="'<span class=\'tourTitles\'>Date and time till:</span><span class=\'tourDateTillDel\'>'+${tour.getEnd()} +'</span>'"></p>
                            <a th:href="'/tourist/tour/'+${tour.id}">More</a>
                        </div>
                    </tr>
                </div>
            </tbody>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js'></script>
    <script>
        $("#showMyCalendar").on('click', function() {
            $("#calendar").css('display', 'block');
            $("#myTours").css('display', 'none');
            $("#showMyCalendar").css('background', 'lightgray');
            $("#showMyTours").css('background', 'none');
        });
        $("#showMyTours").on('click', function() {
            $("#calendar").css('display', 'none');
            $("#myTours").css('display', 'block');
            $("#showMyCalendar").css('background', 'none');
            $("#showMyTours").css('background', 'lightgray');
        });

        var tours = $('.tour');
        tours.each(function() {
            var dateFrom = getDate($(this).find(".tourDateFromDel").text());
            var dateTill = getDate($(this).find(".tourDateTillDel").text());
            var dateToday = getTodayDate();
            if (firstGreaterSecond(dateToday, dateFrom) && firstGreaterSecond(dateTill, dateToday)) {
                $(this).css('border', '3px solid green');
                $(".tours").prepend($(this));
            } else if (firstGreaterSecond(dateToday, dateTill)) {
                $(this).css('border', '3px solid indianred');
                $(".tours").append($(this));
                $(this).toggleClass('oldtour');
            }
        });
        var oldtours = $('.tour.oldtour');

        $("#showOldTours").on('click', function() {
            oldtours.each(function() {
                $(this).toggleClass('oldtour');
            })
        });

        function getDate(stringDate) {
            var date = new Date(stringDate);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var dt = date.getDate();
            if (dt < 10) {
                dt = '0' + dt;
            }
            if (month < 10) {
                month = '0' + month;
            }
            return dt + '/' + month + '/' + year;
        }

        function getTodayDate() {
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0');
            var yyyy = today.getFullYear();
            today = dd + '/' + mm + '/' + yyyy;
            return today;
        }

        function firstGreaterSecond(date1, date2) {
            var d1 = date1.split("/");
            var d2 = date2.split("/");
            var first = new Date(d1[2], parseInt(d1[1]) - 1, d1[0]); // -1 because months are from 0 to 11
            var second = new Date(d2[2], parseInt(d2[1]) - 1, d2[0]);
            return first >= second;
        }

        var calendarEl = document.getElementById('calendar');
        var today = new Date();
        initCalendar();

        function initCalendar() {
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                defaultDate: today,
                navLinks: true,
                editable: false,
                displayEventTime: false,
                eventRender: function(info) {
                    if (info.event.extendedProps.backTransferInfo == null) {
                        $(info.el).tooltip({
                            title: info.event.title + ' ' + getDateTime(info.event.start) + ' - ' + getDateTime(info.event.end),
                            placement: "top",
                            trigger: "hover",
                            container: "body"
                        });
                    }
                },
                eventSources: [{
                        url: "http://localhost:8080/tourist/calendar/tours",
                        color: "dimgray"
                    },
                    {
                        url: "http://localhost:8080/tourist/calendar/excursions",
                        color: "#007bff"
                    },
                    {
                        url: "http://localhost:8080/tourist/calendar/events",
                        color: "green"
                    }
                ]
            });
            calendar.render();
        }

        function getDateTime(str) {
            return str.getDate() + '.' + str.getMonth() + '.' + (str.getYear() + 1900) + ' ' + str.getHours() + ':' + str.getMinutes()
        }

    </script>
</body>

</html>
