<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/tourist/main_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="headerTourist">
            <p id="touristUsername"  th:text="${tourist.username}"></p>
            <p id="mainPageLink" href="#" th:text="'Tour #' + ${tour.id}"></p>
            <a style="color: indianred;" href="/logout">Log out</a>
        </div>
        <div class="links">
            <a href="/tourist/home">Home page</a>
        </div>
        <div class="tourOne">
            <p class="tourOneDescr" th:text="${tour.title}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Destination:</span> <a href=\'/dest/'+${tour.hotel.destination.id}+'\'>'+${tour.hotel.destination.name} + ' ' + ${tour.hotel.destination.country} +'</a>'"></p>
            <p th:utext="'<span class=\'tourTitles\'>Hotel:</span> <a href=\'/hotel/'+${tour.hotel.id}+'\'>' +${tour.hotel.name}+'</a>'"></p>
            <p th:utext="'<span class=\'tourTitles\'>Date from:</span> ' +${tour.getStart()}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Date to:</span> ' +${tour.getEnd()}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Back transfer:</span> '+${tour.backTransferInfo}"></p>
        </div>

        <div class="links bottom">
            <button id="tAttractionsBut">Attractions</button>
            <button id="tExcursionsBut">Excursions</button>
            <button id="tEventsBut">Events</button>
            <button id="tMessagesBut">Messages</button>
            <button id="tMyExcursionsBut">My excursions</button>
            <button id="tMyEventsBut">My events</button>
        </div>

        <div id="tourattractions" class="tourAddition">
            <h2 class="tourAdditionsTitle">Local attractions</h2>
            <tbody>
                <div class="attractions">
                    <tr th:each="attr: ${attractions}">
                        <div class="attraction">
                            <a th:href="${attr.photoUrl}" target="_blank" rel="noopener noreferrer"><img th:src="${attr.photoUrl}" width="290px"></a>
                            <p th:utext="'<span class=\'destTitles\'>Name</span>'+${attr.name}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Description</span>'+${attr.description}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Address:</span>'+${attr.address}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Price</span>'+${attr.price}"></p>
                            <p th:if="${attr.url != null}" th:utext="'<span class=\'destTitles\'>Online tickets</span><a href=\''+${attr.url}+'\'>Click for redirect</a>'"></p>
                        </div>
                    </tr>
                </div>
            </tbody>
        </div>

        <div id="tourexcursions" class="tourAddition">
            <h2 class="tourAdditionsTitle">Excursions</h2>
            <tbody>
                <div class="excursions">
                    <tr th:each="exc: ${excursions}">
                        <div class="excursion">
                            <p th:utext="'<span class=\'destTitles\'>Name</span>'+${exc.title}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Description</span>'+${exc.description}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Price</span>'+${exc.price}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Start</span>'+${exc.start}"></p>
                            <p th:utext="'<span class=\'destTitles\'>End</span>'+${exc.end}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Meeting location</span>'+${exc.meetingLocation}"></p>
                            <form class="buyExcursionForm" th:action="@{/tourist/tour/__${tour.id}__/excursion/__${exc.id}__/}" th:method="post">
                                <select id="payMethod" name="payMethod">
                                    <option value="paypal">PayPal</option>
                                    <option value="card">Credit card</option>
                                </select>
                                <input type="number" name="quantity" placeholder="   Quantity" id="setQuantity">
                                <button id="buyExcursion">Buy</button>
                            </form>
                        </div>
                    </tr>
                </div>
            </tbody>
        </div>

        <div id="myexcursions" class="tourAddition">
            <h2 class="tourAdditionsTitle">My excursions</h2>
            <tbody>
                <div class="excursions">
                    <tr th:each="exc: ${myexcursions}">
                        <div class="excursion">
                            <p th:utext="'<span class=\'destTitles\'>Name</span>'+${exc.excursion.title}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Description</span>'+${exc.excursion.description}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Price</span>'+${exc.excursion.price}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Start</span>'+${exc.excursion.start}"></p>
                            <p th:utext="'<span class=\'destTitles\'>End</span>'+${exc.excursion.end}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Meeting location</span>'+${exc.excursion.meetingLocation}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Quantity</span>'+${exc.quantity}"></p>
                        </div>
                    </tr>
                    </tr>
                </div>
            </tbody>
        </div>
        <div id="tourevents" class="tourAddition">
            <h2 class="tourAdditionsTitle">Events</h2>
            <tbody>
                <div class="events">
                    <tr th:each="event: ${events}">
                        <div class="eventTourist">
                            <p th:utext="'<span class=\'destTitles\'>Title</span>'+${event.title}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Start</span>'+${event.start}"></p>
                            <p th:utext="'<span class=\'destTitles\'>End</span>'+${event.end}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Location</span>'+${event.location}"></p>
                            <form class="addTourist" th:action="@{/tourist/tour/__${tour.id}__/event/__${event.id}__/addme}" th:method="post">
                                <button type="submit" id="addEventButton">Add me</button>
                            </form>
                        </div>
                    </tr>
                </div>
            </tbody>
        </div>
        <div id="myEvents" class="tourAddition">
            <h2 class="tourAdditionsTitle">My events</h2>
            <tbody>
                <div class="events">
                    <tr th:each="event: ${myevents}">
                        <div class="eventTourist">
                            <p th:utext="'<span class=\'destTitles\'>Title</span>'+${event.title}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Start</span>'+${event.start}"></p>
                            <p th:utext="'<span class=\'destTitles\'>End</span>'+${event.end}"></p>
                            <p th:utext="'<span class=\'destTitles\'>Location</span>'+${event.location}"></p>
                        </div>
                    </tr>
                </div>
            </tbody>
        </div>
        <div id="myMessages" class="tourAddition">
            <h2 class="tourAdditionsTitle">Messages from tour delegate</h2>
            <div class="messages">
                <tr th:each="mess: ${messages}">
                    <div class="message">
                        <p class="messageText" th:utext="${mess.text}"></p>
                        <p class="messageDate" th:utext="${mess.getCreateDate()}"></p>
                    </div>
                </tr>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script>
        var additions = $(".tourAddition");

        $("#tAttractionsBut").on('click', function() {
            show('tourattractions')
        });
        $("#tExcursionsBut").on('click', function() {
            show('tourexcursions')
        });
        $("#tEventsBut").on('click', function() {
            show('tourevents')
        });
        $("#tMyEventsBut").on('click', function() {
            show('myEvents')
        });
        $("#tMyExcursionsBut").on('click', function() {
            show('myexcursions')
        });
        $("#tMessagesBut").on('click', function() {
            show('myMessages')
        });

        function show(addition) {
            additions.each(function() {
                if ($(this).attr('id') === addition) {
                    $(this).css('display', 'block')
                } else {
                    $(this).css('display', 'none')
                }
            });
        }
        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has("events")) {
            $("#tEventsBut").click();
            setTimeout(500);
            $('html, body').animate({
                scrollTop: $("#tourevents").offset().top
            }, 700);
        } else if (searchParams.has("excursions")) {
            $("#tExcursionsBut").click();
            setTimeout(500);
            $('html, body').animate({
                scrollTop: $("#tourexcursions").offset().top
            }, 700);
        }

    </script>
</body>

</html>
