html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}

a {
    text-decoration: none;
}

.container {
    margin: auto;
}

#header {
    margin-top: 30px;
    text-align: center;
}

#mainPageLink {
    font-weight: bold;
    font-size: 35px;
    color: gray;
}

.linksMain {
    width: 210px;
    margin: 30px auto 0;
}

.linksMain a {
    display: block;
    margin: 20px auto;
    padding: 10px;
    color: #007bff;
    font-size: 17px;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 3px;
    text-decoration: none;
}

.linksMain a:hover {
    background-color: lightgray;
    text-decoration: none;
}

form {
    width: 300px;
    margin: 20px auto 0;
}

form label,
form input,
form button,
form select {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
}

form input,
form select {
    width: 250px;
    height: 25px;
}

form label {
    margin-top: 10px;
    color: #6c757d;
}

form>button {
    margin-top: 15px;
    width: 250px;
    height: 31px;
    color: whitesmoke;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
}

.form-control{
    width: 250px;
    height: 30px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    display: block;
    margin: 0 auto 10px;
    width: 250px;
    height: 30px;
    text-align: center;
}
.links {
    width: 320px;
    margin: 30px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.links a {
    width: 130px;
    padding: 10px;
    color: #007bff;
    font-size: 16px;
    text-align: center;
    border: 1px solid #007bff;
    border-radius: 3px;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}

.links a:hover {
    background-color: lightgray;
    text-decoration: none;
}

/*All tours*/
.tours {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
}

.tour {
    width: 300px;
    border: 3px solid lightgray;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.tour p {
    color: black;
    margin: 7px 3px;
}

.tourTitles {
    color: #007bff;
}

#tourDescr {
    font-size: 20px;
}

.tour a {
    margin: 7px 3px;
    color: #6c757d;
}

#addNewTourLink.clicked {
    background-color: lightgray;
}

.addTour {
    display: none;
}

.addTour.showed {
    display: block;
}

/*All destinations*/
.dests {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px auto;
    justify-content: center;
}

.dest {
    width: 200px;
    border: 3px solid lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.dest p {
    color: black;
    margin: 7px 3px;
}

.destTitles {
    color: #007bff;
}

.dest a {
    margin: 7px 3px;
    color: #6c757d;
}

#addNewDestLink.clicked {
    background-color: lightgray;
}

.addDest {
    display: none;
}

.addDest.showed {
    display: block;
}

/*All hotels*/
.hotels {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
}

.hotel {
    width: 300px;
    border: 3px solid lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.hotel p {
    color: black;
    margin: 7px 3px;
}

.hotelTitles {
    color: #007bff;
}

.hotel p a {
    color: blue;
}

.hotel a {
    margin: 7px 3px;
    color: #6c757d;
}

#addNewHotelLink.clicked {
    background-color: lightgray;
}

.addHotel {
    display: none;
}

.addHotel.showed {
    display: block;
}

/**All attractions **/
.attractions {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
}

.attraction {
    width: 300px;
    border: 3px solid lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.attraction p {
    color: black;
    margin: 7px 3px;
}

#addNewAttractionLink.clicked {
    background-color: lightgray;
}

.addAttr {
    display: none;
}

.addAttr.showed {
    display: block;
}

/**Excursions **/
.excursions {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 20px auto;
    justify-content: center;
}

.excursion {
    width: 300px;
    border: 3px solid lightgray;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.excursion p {
    color: black;
    margin: 7px 3px;
}

#addNewExcursionLink.clicked {
    background-color: lightgray;
}

.addExcursion {
    display: none;
}

.addExcursion.showed {
    display: block;
}

.tourOne,
.hotelOne,
.destOne {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.destOne {
    margin-top: 30px;
}

.tourOne a,
.hotelOne a {
    color: blue;
}

.tourOneDescr,
.hotelOneName {
    color: #6c757d;
    width: 420px;
    margin: 0 auto 20px;
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
/*Users*/
#addNewUserLink.clicked {
    background-color: lightgray;
}

.addUserForm {
    display: none;
}

.addUserForm.showed {
    display: block;
}

#touristsByTourLink.clicked {
    background-color: lightgray;
}

#touristsByTourDiv {
    display: none;
}

#touristsByTourDiv.showed {
    display: block;
}

#touristsByTourTable,
#toursByTouristsTable {
    color: black;
    margin: 30px auto 0;
}

#touristsByTourTable th,
#touristsByTourTable td,
#toursByTouristsTable th,
#toursByTouristsTable td {
    text-align: center;
    width: 200px;
    border: 1px solid #6c757d;
    border-collapse: collapse;
    padding: 5px;
    font-size: 16px;
}

#toursByTouristsTable th,
#toursByTouristsTable td {
    width: 350px;
}

#filterUsersLinks{
    text-align: center;
    margin-top: 25px;
}
#filterUsersLinks a{
    color: #6c757d;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}
#filterUsersLinks a:hover{
    color: #007bff;
    text-decoration: none;
}