<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>TripGuide delegate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/static/styles/images/icons/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/delegate/main_styles.css">
</head>

<body>
    <div class="container">
        <div id="header">
            <p class="delPage">Delegate page</p>
            <p class="headerP" th:text="'Tour #' + ${tour.id}"></p>
        </div>
        <div class="links">
            <a href="/delegate/home">Home page</a>
        </div>
        <div class="tourOne">
            <p class="tourOneDescr" th:text="${tour.title}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Destination:</span> <a href=\'/dest/'+${tour.hotel.destination.id}+'\'>'+${tour.hotel.destination.name} + ' ' + ${tour.hotel.destination.country} +'</a>'"></p>
            <p th:utext="'<span class=\'tourTitles\'>Hotel:</span> <a href=\'/hotel/'+${tour.hotel.id}+'\'>' +${tour.hotel.name}+'</a>'"></p>
            <p th:utext="'<span class=\'tourTitles\'>Date from:</span> ' +${tour.getStart()}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Date to:</span> ' +${tour.getEnd()}"></p>
            <p th:utext="'<span class=\'tourTitles\'>Back transfer:</span> '+${tour.backTransferInfo}"></p>
        </div>
        <div class="links bottom">
            <a class="touristsBut">Tourists</a>
            <a class="eventsBut">Events</a>
            <a class="messagesBut">Messages</a>
        </div>
        <div id="touristsSec">
            <table id="touristsByTourTable">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Fullname</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tourist : *{tourists}">
                        <td th:utext="'<a href=\'/user/'+${tourist.id}+'\'>'+${tourist.username}+'</a>'"></td>
                        <td th:text="${tourist.fullName}"></td>
                        <td th:text="${tourist.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="messagesSec">
            <form class="addMessage" th:action="@{/delegate/tour/__${tour.id}__/message}" th:object="${newmessage}" th:method="post">
                <label for="text">New message: </label>
                <div id="textArea">
                    <textarea id="textInput" th:field="*{text}"></textarea>
                </div>
                <button type="submit" id="addMesButton">Add</button>
            </form>
            <div class="messages">
                <tr th:each="mess: ${messages}">
                    <div class="message">
                        <p class="messageText" th:utext="${mess.text}"></p>
                        <p class="messageDate" th:utext="${mess.getCreateDate()}"></p>
                    </div>
                </tr>
            </div>
        </div>
        <div id="eventsSec">
            <button id="addNewEventBut">Show form for add new events</button>

            <div class="addEventDel">
                <form class="addEventDelForm" th:action="@{/delegate/tour/__${tour.id}__/event}" th:object="${newevent}" th:method="post">
                    <label for="title">Title: </label>
                    <input type="text" name="title" id="title" th:field="*{title}" />
                    <label for="startTime">Start date & time: </label>
                    <input type="datetime-local" name="startTime" id="startTime" th:field="*{start}" />
                    <label for="endTime">End date & time: </label>
                    <input type="datetime-local" name="endTime" id="endTime" th:field="*{end}" />
                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" th:field="*{location}" />
                    <button type="submit" id="addEventButton">Add</button>
                </form>
            </div>
            <div class="eventsDel">
                <tr th:each="event: ${events}">
                    <div class="eventDel">
                        <p th:utext="'<span class=\'destTitles\'>Title:</span> ' + ${event.title}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Start:</span> ' + ${event.start}"></p>
                        <p th:utext="'<span class=\'destTitles\'>End:</span> ' + ${event.end}"></p>
                        <p th:utext="'<span class=\'destTitles\'>Location:</span> ' + ${event.location}"></p>
                        <form class="addTourist" th:action="@{/delegate/tour/__${tour.id}__/event/__${event.id}__/addtourist}" th:method="post">
                            <select id="username" name="username" class="selectpicker" data-live-search="true">
                                <option value=""></option>
                                <option th:each="user : ${tourists}" th:value="${user.username}" th:utext="(${event.users.contains(user)})?${user.username}+'    [added]':${user.username}"></option>
                            </select>
                            <button type="submit" id="addEventButton">Add</button>
                        </form>
                    </div>
                </tr>
            </div>
        </div>
    </div>
    <!--===============================================================================================-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <!--===============================================================================================-->
    <script>
        var tourists = $("#touristsSec");
        var touristsBut = $(".touristsBut");
        var messages = $("#messagesSec");
        var messagesBut = $(".messagesBut");
        var events = $("#eventsSec");
        var eventsBut = $(".eventsBut");

        touristsBut.on('click', function() {
            tourists.css('display', 'block');
            messages.css('display', 'none');
            events.css('display', 'none');
        });
        messagesBut.on('click', function() {
            messages.css('display', 'block');
            tourists.css('display', 'none');
            events.css('display', 'none');
        });
        eventsBut.on('click', function() {
            events.css('display', 'block');
            messages.css('display', 'none');
            tourists.css('display', 'none');
        });

        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has("mess")) {
            messagesBut.click();
            setTimeout(500);
            $('html, body').animate({
                scrollTop: $(".messages").offset().top
            }, 700);
        } else if (searchParams.has("events")) {
            eventsBut.click();
            setTimeout(500);
            $('html, body').animate({
                scrollTop: $(".eventsDel").offset().top
            }, 700);
        }
        var showFormButton = $("#addNewEventBut");
        var addEventForm = $(".addEventDel");

        showFormButton.on('click', function() {
            addEventForm.toggleClass("showed");
        })

    </script>
</body>

</html>
